.cont-inicio
{
    display: flex;
}
.cont
{
    width: 50%;
    height: 100%;
}
.cont_text
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont_text-centrar
{
    width: 80%;
    height: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cont_text-centrar span
{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 33ch;
    animation: typing 2s steps(33),blink .5s infinite step-end alternate ;
    overflow: hidden;
    font-size: 15px;
}
@keyframes typing 
{
    from
    {
        width: 0;
    }
}
@keyframes blink 
{
    50%
    {
        border-color: transparent;
    }    
}
.cont_text-centrar h2
{
    font-size: 70px;
    background-color: #FF4900;
    margin-bottom: 20px;
    font-family: Anson-R3;
    text-align: center;
}
.cont_text-centrar legend
{
    font-size: 20px;
    font-family: GENUINE;
}
.cont_text-centrar button
{
    padding: 25px;
    margin-right: 20px;
    color: #ffffff;
    font-family: GENUINE;
    border-radius: 10px;
    font-size: 20px;
}
.btna
{
    background-color: #FF4900;
}
.btnb
{
    background-color: transparent;
    border-color: #ffffff;
    transition: background-color 500ms ease-in-out,
    color 500ms ease-in-out
    ;
}
.btnb:hover
{
    box-shadow:
    0px 0px 5px 0px #ffffff,
    0px 0px 10px 0px #ffffff,
    0px 0px 15px 0px #ffffff
    ;
    background-color: #ffffff;
    color: #000000;
}
.spantext
{
    width: 40ch;
    background-color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------------*/
.cont_img
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img
{
    width: 100%;
    height: 100%;
    background: url("../img/img.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 30px rgba(255, 136, 0, 0.5));
}
.img-letras
{
    color: #ffffff;
    width: 10ch;
    height: 2.5ch;
    background-color: rgba(66, 66, 66, .5);
    display: flex;
    justify-content: space-between;
    font-size: 8vh;
    overflow: hidden;
    backdrop-filter: blur(3px);
}
.img-letras ul
{
    height: 100%;
    animation: slide 10s infinite ease-out;
}
.img-letras p
{
    animation: parpadeo 1s infinite ease-in-out;
}
@keyframes parpadeo 
{
    0%
    {
        color: #ffffff;
    }
    50%
    {
        color: transparent;
    }  
    100%
    {
        color: #ffffff;
    }  
}
.img-letras li
{
    height: 100%;
    font-family: Anson-R3;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide 
{
    /*img1*/
    0%
    {
        margin-top:  0ch;
    } 
    20%
    {
        margin-top: 0ch;
    }   
    /*img2*/
    25%
    {
        margin-top:  -2.5ch;
    } 
    45%
    {
        margin-top: -2.5ch;
    }   
    /*img3*/
    50%
    {
        margin-top:  -5ch;
    } 
    70%
    {
        margin-top: -5ch;
    }   
    /*img4*/
    75%
    {
        margin-top:  -7.5ch;
    } 
    95%
    {
        margin-top: -7.5ch;
    }
}