*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body
{
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    overflow: hidden;
}
.particles-js-canvas-el
{
    position: absolute;
    z-index: -1;
    top: 0;
}