.proyectos-cont
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "textos imagenes";
}
.proyectos-textos
{
    grid-area: textos;
}
.proyectos-imagenes
{
    grid-area: imagenes;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mancha
{
    width: 60%;
    height: 60%;
    position: absolute;
    background-color: orangered;
}
.mancha1
{
    border-radius: 350px 705px 300px 600px / 600px 300px 705px 350px;
    animation: spin1 10s linear infinite;
}
.mancha2
{
    border-radius: 705px 300px 600px 350px / 350px 600px 300px 705px;
    animation: spin2 5s linear infinite;
}
.mancha3
{
    border-radius: 300px 600px 350px 705px / 705px 350px 600px 300px;
    animation: spin3 20s linear infinite;
}
@keyframes spin1 
{
    100% {
      transform: rotate(360deg);
    }
}
@keyframes spin2 
{
    100% {
      transform: rotate(-360deg);
    }
}
@keyframes spin3
{
    100% {
      transform: rotate(360deg);
    }
}
.mancha4
{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    background-image: url("../img/aa.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: background-image 500ms ease-in-out;
}
/*textos*/
.proyectos-textos
{
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-areas: "t2" "b";
    color: #ffffff;
}
.titulo_proyecto
{
    text-align: left;
    font-family:GENUINE ;
    font-size: 5vh;
}
.descripcion_proyecto
{
    font-size: 2.5vh;
}
.textos-conteiner
{
    grid-area: t2;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    justify-self: center;
    align-self:center ;
    text-align: justify;
    justify-content: center;
}
.button-conteiner
{
    grid-area: b;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.button-conteiner button 
{
    width: 50%;
    height: 50%;
    font-family: Anson-R3;
    font-size: 10vh;
    border: none;
    border: transparent 1px solid;
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    transition: color 500ms ease-in-out, box-shadow 500ms ease-in-out,border-color 500ms ease-in-out,text-shadow 500ms ease-in-out;
}
.button-conteiner button:hover
{
    border-color: #ffffff;
    color: #000000;
    text-shadow: 0px 0px 10px rgb(255, 69, 0),0px 0px 15px rgb(255, 69, 0),0px 0px 20px rgb(255, 69, 0);
    box-shadow: 0px 0px 10px rgb(255, 69, 0),0px 0px 15px rgb(255, 69, 0),0px 0px 20px rgb(255, 69, 0),
    inset 0px 0px 10px rgb(255, 69, 0), inset 0px 0px 15px rgb(255, 69, 0), inset 0px 0px 20px rgb(255, 69, 0)
    ;
}