.proyectos-cont
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "textos imagenes";
}
.proyectos-textos
{
    grid-area: textos;
}
.proyectos-imagenes
{
    grid-area: imagenes;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mancha
{
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: orangered;
}
.mancha1
{
    border-radius: 350px 705px 300px 600px / 600px 300px 705px 350px;
    animation: spin1 10s linear infinite;
}
.mancha2
{
    border-radius: 705px 300px 600px 350px / 350px 600px 300px 705px;
    animation: spin2 5s linear infinite;
}
.mancha3
{
    border-radius: 300px 600px 350px 705px / 705px 350px 600px 300px;
    animation: spin3 20s linear infinite;
}
@keyframes spin1 
{
    100% {
      transform: rotate(360deg);
    }
}
@keyframes spin2 
{
    100% {
      transform: rotate(-360deg);
    }
}
@keyframes spin3
{
    100% {
      transform: rotate(360deg);
    }
}
.mancha4
{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    background-image: url("../img/aa.png");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    transition: background-image 500ms ease-in-out;
}