@media screen and (max-width: 415px)
{
    .seccion 
    {
        height: 90%;
    }
    /*inicio*/
    .cont-inicio
    {
        flex-direction: column;
    }
    .cont
    {
        width: 100%;
        height: 50%;
    }
    .cont_text-centrar
    {
        width: 90%;
        height: 100%;
    }
    .cont_text-centrar h2
    {
        font-size: 40px;
        text-align: start;
        font-weight: normal;
    }
    .cont_text-centrar button
    {
        padding: 10px;
    }
    .spantext
    {
        display: none;
    }
    .btna
    {
        border: none;
    }
    /*fin inicio*/
    /*Menu*/
    .centrar
    {
        width: 95%;
    }
    .menu
    {
        display: none;
    }
    .btn-menu
    {
        display: flex;
    }
    /*Sobre nosotros*/
    .cont-acerca
    {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "textos" "textos";
    }
    .acerca_imagenes
    {
        display: none;
    }
    .titulo_subrayado
    {
        font-size: 4.7vh;
    
    }
    .titulo_subrayado h2 
    {
        font-weight: lighter;
    }
    .acerca_textos p 
    {
        width: 90%;
        font-size: 2vh;
    }
    /*Proyectos*/
    .proyectos-cont
    {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "imagenes" "textos";
    }
    .mancha
    {
        height: 80%;
        width: 80%;
    }
    .mancha4
    {
        width: 70vw;
        height: 70vw;
    }
    .titulo_proyecto
    {
        font-size: 2.5vh;
    }
    .descripcion_proyecto
    {
        font-size: 1.7vh;
    }
    .button-conteiner
    {
        align-items: center;
    }
    .button-conteiner button 
    {
        text-align: center;
        font-size: 5vh;
    }
    /*servicios*/
    .cont_cards
    {
        width: 98%;
        height: 98%;
        flex-direction: column;
    }
    .servicio-card
     {
        width: 100%;
        height: 30%;
     }
     .servicio-card i
     {
        margin: 5px 0;
     }
     .servicio-card h3 
     {
        margin: 5px 0;
     }
     .servicio-card p
    {
        padding: 0 10px;
        font-family: GENUINE;
        font-size: 1.2vh;
        height: 40%;
    }
}