.principal
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.saludo
{
    z-index: 1;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    transition:opacity 500ms ease-in-out;
}
.saludo h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.saludo h4
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
    margin: 10px 0;
}
.saludo li
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
}
.saludo ul
{
    margin: 10px 0;
}
.saludo button
{
    padding: 10px;
    margin: 10px;
    font-size: 2vh;
    border: solid 1px #ffffff;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}
.saludo button img
{
    height: 3vh;
    margin: 0 1vh;
}
.saludo button:hover
{
    transform: scale(1.2);
}
/**/
.datosOracle
{
    z-index: 0;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    opacity: 0;
    transition:opacity 500ms ease-in-out;
}
.datosOracle h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.datosOracle h4
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
    margin: 10px 0;
}
.datosOracle li
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
}
.datosOracle ul
{
    margin: 10px 0;
}
.datosOracle input
{
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.oracleButtons
{
    display: flex;
    flex-wrap: wrap;
}
.datosOracle button
{
    padding: 10px;
    margin: 10px;
    font-size: 2vh;
    border: solid 1px #ffffff;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    width: 12ch;
}
.datosOracle button:hover
{
    transform: scale(1.2);
}
/**/
.datosStock
{
    z-index: 0;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    opacity: 0;
    transition:opacity 500ms ease-in-out;
}
.datosStock h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.datosStock h4
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
    margin: 10px 0;
}
.datosStock li
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
}
.datosStock ul
{
    margin: 10px 0;
}
.datosStock input
{
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.datosStock
{
    display: flex;
    flex-wrap: wrap;
}
.datosStock button
{
    padding: 10px;
    margin: 10px;
    font-size: 2vh;
    border: solid 1px #ffffff;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    width: 12ch;
}
.datosStock button:hover
{
    transform: scale(1.2);
}
/**/
.cruzarDatos
{
    z-index: 0;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #1b1b1b;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    opacity: 0;
    transition:opacity 500ms ease-in-out;
}
.cruzarDatos h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.cruzarDatos h4
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
    margin: 10px 0;
}
.cruzarDatos li
{
    color: rgb(254, 221, 6);
    font-size: 3vh;
    font-family: monospace;
}
.cruzarDatos ul
{
    margin: 10px 0;
}
.cruzarDatos input
{
    margin: 10px 0;
    color: rgb(255, 255, 255);
}
.cruzarDatos
{
    display: flex;
    flex-wrap: wrap;
}
.cruzarDatos button
{
    padding: 10px;
    margin: 10px;
    font-size: 2vh;
    border: solid 1px #ffffff;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
    width: 12ch;
}
.cruzarDatos button:hover
{
    transform: scale(1.2);
}
/**/
.doc1
{
    z-index: 0;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    opacity: 0;
    transition:opacity 500ms ease-in-out;
}
#handsontable-container1
{
    width: 60%;
    min-width: 300px;
    height: 70%;
    overflow: hidden;
}
/**/
.doc2
{
    z-index: 0;
    width: 60%;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 10px 10px 50px;
    position: absolute;
    opacity: 0;
    transition:opacity 500ms ease-in-out;
}
#handsontable-container2
{
    width: 60%;
    min-width: 300px;
    height: 70%;
    overflow: hidden;
}